@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card {
    border: 1px;
    border-radius: 15px;
    padding: 13px;
    background-color: hsl(0, 0%, 100%);
    width: 200px;
}
img {
    border-radius: 15px;
    align-self: center;
    text-align: center;
}
p {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;

}
.heading {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: 700;
}
.para{
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}
.attribution {
    margin-top: 10px;
}

    
